<header>
    <h1 class="title">{{title}}</h1>
</header>
<main>
    <section>
        <div class="container">
            <table class="tabla-carrito">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data.products}}
                    <tr key={{this.id}}>
                        <td>{{this.title}}</td>
                        <td>{{this.stock}}</td>
                        <td class="texto-derecha">$ {{this.price}}</td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
</main>