<header>
    <h1 class="title">{{title}}</h1>
</header>
<main>
    <section class="container">
        <div>
                <a href="/?page={{data.page}}&sort=asc"><button>ACSENDENTE</button></a>
                <a href="/?page={{data.page}}&sort=desc"><button>DESCENDENTE</button></a>
                <a href="/?page={{data.page}}"><button>REMOVER ORDEN</button></a>
            </div>
    </section>
    <section>
        <div class="container">
            <table class="tabla-carrito">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data.docs}}
                    <tr key={{this.id}}>
                        <td>{{this.title}}</td>
                        <td>{{this.stock}}</td>
                        <td class="texto-derecha">$ {{this.price}}</td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>

    <section class="container">
        <div>
            <div>
                {{#if data.hasPrevPage}}
                <a href="/?page={{data.prevPage}}"><button>Anterior</button></a>
                {{/if}}

                {{#if data.hasNextPage}}
                <a href="/?page={{data.nextPage}}{{data.sort}}"><button>Siguiente</button></a>
                {{/if}}
            </div>
            <div>
                <p>
                    Página <span id="page">{{data.page}}</span> de <span
                        id="total-pages">{{data.totalPages}}</span>
                    <br>
                    <span>{{data.totalDocs}}</span> Documentos
                </p>
            </div>
        </div>
    </section>
</main>